@font-face {
    src: url(../assets/fonts/Satoshi-Black.otf);
    font-family: Satoshi_Black;
  }
  
  @font-face {
    src: url(../assets/fonts/Satoshi-Bold.otf);
    font-family: Satoshi_Bold;
  }
  
  @font-face {
    src: url(../assets/fonts/Satoshi-Medium.otf);
    font-family: Satoshi_Medium;
  }
  
  @font-face {
    src: url(../assets/fonts/Satoshi-Regular.otf);
    font-family: Satoshi_Regular;
}

/** init **/


*,body {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: var(--white) !important;
  }
  
  .main-content {
    min-height: 100vh;
  }
  
  /* Style scrollbar */
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--main);
  }
  
  /* Animations */
  
  @keyframes bounce_vertically {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-1.9em);
    }
  
    60% {
      transform: translateY(-0.9em);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  
  /* Stylisation des différentes balises qui ne changera pratiquement pas */
  
  h1 {
    font-size: 100px;
    font-family: Satoshi_Black;
    max-width: 99%;
    line-height: 100px;
    color: var(--main);
  }
  
  h2 {
    font-size: 2rem;
    color: var(--main);
    /* font-family: Satoshi_Black;
      font-size: 3.75rem; */
    font-family: Satoshi_bold;
  }
  
  h3 {
    font-size: 1.9rem;
    color: var(--main);
    font-family: Satoshi_Bold;
    font-weight: normal;
  }
  
  h4 {
    font-family: Satoshi_Medium;
    font-size: 1rem;
    color: var(--main);
    text-transform: uppercase;
  }
  
  p {
    font-family: Satoshi_Regular;
    color: var(--grey);
    font-size: 0.9rem;
  }
  
  button {
    background-color: var(--white);
    padding: 12px 18px;
    font-family: 'Satoshi_Black';
    color: var(--grey);
    border: none;
    border-radius: 10px;
    font-size: 20px;;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0px 3px 0px #D3C8CB;
}

.button-moncv {
  background-color: var(--white);
  padding: 10px 18px;
  font-family: 'Satoshi_Black';
  color: var(--grey);
  border: none;
  border-radius: 10px;
  font-size: 20px;;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0px 3px 0px #D3C8CB;
}

.button-contacter {
  background-color: var(--main);
  box-shadow: 0px 3px 0px rgb(239 32 111);
  padding: 10px 12px;
  font-family: 'Satoshi_Black';
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: 20px;;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button-contacter:hover {
    transform: scale(1.02);
    background-color: #f84f92;
    box-shadow: 0 3px 0 var(--main-dark);
}

.button-cv {
  transform: scale(1.02);
    background-color: #f7edf0;
    box-shadow: 0 3px 0 #ACA7A8;
}
  
  button:hover {
    transform: scale(1.02);
    background-color: #f7edf0;
    box-shadow: 0 3px 0 #ACA7A8;
}
  a {
    color: var(--main);
    font-family: Satoshi_Medium;
    font-size: 1.1rem;
  }

  :root {
    --main: #FF66A2;
    --main-dark: #c14476;
    --secondary: #00DA7E;
    --white: #FDFAF8;
    --main-form: #FEB0CD;
    --text-color: #212121;
    --grey: #494949;
  }
  
  header {
    height: 6.8em;
    justify-content: space-between;
    margin-right: 3vw;
    display: flex;
    align-items: center;
  }

  .placeholder {
    width: 20%;
    height: 20px;
  }
  
  header>img {
    position: absolute;
  }
  
  header>*:nth-child(1) {
    top: 1.5em;
    left: 2.5em;
    width: 3.3em;
  }
  
  header>nav>ul {
    display: flex;
    list-style: none;
    font-family: Satoshi_Medium;
  }
  
  header>nav>ul>li {
    font-size: 1.4em;
    margin: 0 1.5rem;
    text-transform: uppercase;
    position: relative;
  }
  
  header>nav>ul>li>a {
    text-decoration: none;
    color: var(--text-color);
    font-family: Satoshi_Medium;
    font-size: 1.4rem;
  }
  
  /* Animation passage souris sur <a> */
  
  header>nav>ul>li>a:hover::before {
    width: 100%;
  }
  
  header>nav>ul>li>a::before {
    content: "";
    display: block;
    transition: width .4s ease;
    position: absolute;
    bottom: -0.2em;
    border-radius: 6.2em;
    width: 0;
    height: 0.2em;
    background-color: var(--main);
  }
  
.buttons-header {
  display: flex;
  gap: 1vw;
}

  #button-cv {
    padding-right: 5vh;
    padding-left: 5vh;
  }
  
  .button-cv {
    height: 20px;
  }
  
  @keyframes move-text {
    0% {
      bottom: -0.2em;
      opacity: 1;
    }
  
    50% {
      bottom: 0.2em;
    }
  
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
      filter: blur(4px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  .image {
    display: flex;
    max-width: 100%;
    max-height: 18vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: content-box;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
  }


/* ------ Footer ------ */

#contact {
    background-color: #FFF;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    border-radius: 4vh;
    box-shadow: 0px 0px 16px 1px #FEB0CD;
  }
  
  #contact p {
    font-size: 1.3rem;
    width: 89%;
  }
  
  #contact>img:nth-child(1) {
    width: 28%;
  }
  
  .title {
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 1vw;
    flex-direction: column;
  }
  
  .contact-ft {
    justify-content: center !important;
  }
  
  .title h2 {
    font-size: 3.5rem;
    color: var(--main);
    font-family: Satoshi_Black;
    margin-bottom: 1vh;
  }
  
  .footer-container-ft {
    padding: 8px 40px 8px !important;
  }
  
  .copyright-ft {
    margin-top: 0 !important;
  }
  
  .title p {
    font-size: 1.5rem;
    width: 37%;
    text-align: center;
  }
  
  .contact-card {
    margin: auto !important;
    position: unset !important;
    margin-top: 24px !important;
  }
  
  .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3%;
    gap: 1em;
    align-items: center;
  }
  
  .icon1 {
    flex-wrap: wrap;
    margin-left: 21px;
    margin-right: 21px;
    justify-content: center;
  }
  
  .icon1,.icon2 {
    display: flex;
    gap: 2em;
  }
  
  .links>* {
    margin: 0 1%;
  }
  
  .link-button {
    border-radius: 37px;
    border: 3px solid var(--main);
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    transition: color 0.4s ease-out, background-color 0.4s ease-out;
  }
  
  .link-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main);
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
    z-index: -1;
  }
  
  .link-button:hover::before {
    transform: translateX(0);
  }
  
  .link-button:hover {
    background-color: var(--main);
  }
  
  .button-text {
    padding: 0px 2rem;
    font-size: 1.18rem;
    font-family: Satoshi_Black;
    color: var(--main);
    z-index: 1;
    transition: color 0.4s ease-out;
  }
  
  .link-button:hover .button-text {
    color: white;
  }
  
  .button-icon {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    z-index: 1;
  }
  
  .button-icon>img {
    width: 2rem;
  }
  
  .links>a img {
    transition: transform 0.3s ease-in-out;
  }
  
  .links>a:hover img {
    transform: scale(1.1);
  }
  
  /* ------ ENDCONTACT ------ */
  
  /* ------- FOOTER ------- */
  
  .footer {
    border-radius: 0;
    position: relative;
  }
  
  .footer-container {
    display: flex;
    padding: 41px 70px 22px;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p, h2 {
    color: var(--text-color);
    font-family: 'Satoshi_Medium';
}

  .footer-content {
    display: flex;
    width: 100%;
    max-width: 1545px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
  
  /* Contact section */
  
  .contact-section {
    align-self: stretch;
    display: flex;
    margin-top: auto;
    width: 405px;
    margin-bottom: auto;
    flex-direction: column;
    align-items: flex-start;
    font-family: Satoshi,
          -apple-system,
          Roboto,
          Helvetica,
          sans-serif;
    color: rgba(243, 240, 241, 1);
  }

  .one-blur {
    position: absolute;
    left: 0;
    z-index: -1;

  }

  .one-blur-contact {
    position: absolute;
    left: 0;
    z-index: -1;
    top: 42vh;
}

  .two-blur {
    position: absolute;
    right: 0;
    width: 100vh;
    z-index: -1;
  }

  .header-blur {
    position: absolute;
    width: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .email-container {
    border-radius: 40px;
    border: 3px solid var(--main);
    align-self: stretch;
    display: flex
;
    margin-top: 6px;
    padding: 9px 21px;
    cursor: pointer;
    color: var(--main);
    align-items: stretch;
    gap: 11px;
    font-size: 25px;
    font-weight: 900;
    white-space: nowrap;
}
  
  .email-text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .footer-blur {
    position: absolute;
    top: 18vh;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
  }
  
  .email-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 35px;
    align-self: flex-start;
    flex-shrink: 0;
  }
  
  /* CTA section */
  
  .cta-section {
    align-self: stretch;
    display: flex;
    width: 405px;
    align-items: center !important;
    flex-direction: column;
    align-items: stretch;
  }

  .social-icons>a {
    text-decoration-style: none;
    color: var(--white);
  }

  .cta-question {
    color: var(--text-color);
    font-size: 20px;
    font-family: 'Satoshi_Regular';
}

  .cta-action {
    font-size: 1.5rem;
    font-family: 'Satoshi_Bold';
    margin-bottom: 13px;
    margin-top: 10px;
  }

  p.cta-action {
    color: var(--main);
    font-family: 'Satoshi_Black';
    font-size: 31px;
}
  
  .copyright {
    color: rgba(243, 240, 241, 1);
    font-size: 20px;
    font-family: Inter,
          -apple-system,
          Roboto,
          Helvetica,
          sans-serif;
    font-weight: 400;
    margin-top: 59px;
    text-align: center;
  }
  
  /* Navigation section */
  
  .nav-section {
    align-self: stretch;
    display: flex;
    margin-top: auto;
    width: 355px;
    margin-left: 50px;
    margin-bottom: auto;
    flex-direction: column;
    align-items: stretch;
    font-family: Satoshi,
          -apple-system,
          Roboto,
          Helvetica,
          sans-serif;
    color: rgba(243, 240, 241, 1);
    white-space: nowrap;
  }
  
  .nav-title {
    font-size: 25px;
    font-weight: 700;
  }
  
  .nav-links {
    font-size: 20px;
    font-weight: 500;
    align-self: flex-start;
    margin-top: 6px;
    color: var(--text-color);
  }
  
  .nav-title {
    color: var(--main) !important;
  }
  
  /* Responsive styles */
  
@media (max-width:1360px) {
  .footer-blur {
    display: none;
  }
}

  @media (max-width: 1100px) {
    .footer-container {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .footer-content {
      justify-content: center;
      max-width: 100%;
    }
  
    .email-container {
      padding-left: 20px;
      white-space: initial;
    }
  
    .cta-section {
      max-width: 100%;
    }
  
    .copyright {
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 40px;
    }
  
    .nav-section {
      display: none;
      white-space: initial;
    }
  }
  
  @media (max-width: 640px) {
    .email-container {
      margin-left: -2px;
      margin-bottom: -2px;
    }
  }
  
  /* ------- END FOOTER ------- */

  .projets>h2,.designs>h2 {
    font-size: 2.563rem;
    color: var(--main);
    font-family: Satoshi_Black;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 4vh;
  }

  .message-text {
    left: 69px;
    bottom: 22px;
    position: relative;
  }

  .message-icon {
    margin-left: 23px;
  }