<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lola - Portfolio</title>

    <link rel="stylesheet" href="../assets/style.css">
    <link rel="icon" type="image/png" href="../assets/images/butterfly.svg">
</head>
<body>
    <section class="main-content">
    <header>
        <img src="../assets/images/logo.svg" alt>

        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="projects.html">Projets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="contact">
            <img src="../assets/images/moi.png" alt="Moi"/>
            
            <div class="left-infos">
                <h2 class="contactme">Me contacter</h2>

                <p>N’hésitez pas à me contacter, je suis à votre disposition pour échanger avec vous !</p>
                <p>Je suis activement <b>à la recherche d’un stage</b> à partir de <b>Mars</b> et pour une durée de <b>15 semaines</b> dans le domaine de l’<b>UX-UI Designer</b>.</p>

                <div class="basic-infos">
                    <div class="home-infos">
                        <img src="../assets/images/home.svg" alt="Lieu"/>
                        <p>Lannion, Côtes d’Armor   |   Nîmes, Gard</p>
                    </div>
                    
                    <div class="mail-infos">
                        <img src="../assets/images/email.svg" alt="Mon email"/>
                        <p>lola.navarro@etudiant.univ-rennes.fr</p>
                    </div>
                </div>

                <div class="links">
                    <div class="secondary-button">
                        <a href="../assets/images/Lola_Navarro_WebDesign_CV.pdf" class="link-button" target="_blank">
                            <span class="button-text">Mon CV</span>
                            <span class="button-icon"><img src="../assets/images/download-icon.svg"/></span>
                        </a>
                    </div>
                    <div class="secondary-button">
                        <a href="https://www.canva.com/design/DAF4v1audBw/pnIEMRp4sh6kSsLn5gXwcA/view?utm_content=DAF4v1audBw&utm_campaign=designshare&utm_medium=link&utm_source=editor" class="link-button" target="_blank">
                            <span class="button-text">Mon Book</span>
                            <span class="button-icon"><img src="../assets/images/book-icon.svg" alt="Book"/></span>
                        </a>
                    </div>
                    
                    <a href="https://github.com/Lola0810"><img src="../assets/images/github_rose.svg" alt="Mon Github"></a>
                    <a href="https://www.linkedin.com/in/lola-navarro/"><img src="../assets/images/linkedin_rose.svg" alt="Mon LinkedIn"></a>
                    <a href="htps://www.bento.me/Lola"><img src="../assets/images/bentome_rose.svg" alt="Mon bento me"></a>
                    
                </div>
            </div>
        </div>
    </main>
    </section>
    <footer>
        <span>Contact : lola.navarro@etudiant.univ-rennes.fr</span>

        <span>&copy; Lola Navarro 2024</span>
        
        <nav>
            <a id="lien_github" href="https://github.com/Lola0810"><img src="../assets/images/github.svg" alt="Clique ici pour voir mon github"></a>
            <a id="len_linkedIn" href="https://www.linkedin.com/in/lola-navarro/"><img src="../assets/images/linkedin.svg" alt="Clique ici pour voir mon linkedin"></a>            
        </nav>
    </footer>

    <script src="../assets/js/projects.js"></script>
    <script src="../assets/js/projectView.js"></script>
</body>
</html>