<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lola - Portfolio</title>

    <link rel="stylesheet" href="../style/contact.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="icon" type="image/png" href="../assets/images/icons/butterfly.svg">
    <script>
    const copyEmail = () => {
        const email = document.getElementById("email");
        email.classList.add("email-click");
        setTimeout(() => {
            email.classList.remove("email-click")
        }, 200);
        const emailText = document.getElementById("emailText").textContent;
        navigator.clipboard.writeText(emailText).then(() => {
        }).catch(err => {
        console.error("Failed to copy email: ", err);
        });
    }
    </script>
</head>
<body>
    <section class="main-content-contact">
        <header>
            <img src="../assets/images/icons/butterfly.svg" alt>
            <div class="placeholder"></div>
            <nav>
                <ul>
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="projects.html">Projets</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
    
            <div class="buttons-header">
                <a href="../assets/pdf/CV_Lola_NAVARRO.pdf"><button class="button-moncv">Mon CV</button></a>
                <a href="contact.html"><button class="button-contacter">Me contacter</button></a>
            </div>
        </header>

    <main>
            <div class="title">
                <h2>Me contacter</h2>
            <p>Intéressé par mon profil ? N’hésitez plus !</p>
            </div>
            <div class="links">
                <div class="icon1">
                    <a onclick="copyEmail()">
                        <div class="email-contact-container">
                            <div class="email-contact-wrapper"  id="email">
                              <p id="emailText" class="email-address">contact@lolanavarro.fr</p>
                              <img src="../assets/images/icons/copy.svg" class="email-icon" alt="Email icon">
                            </div>
                          </div>  
                    </a>                
                    <a href="https://github.com/Lola0810" target="_blank" class="linksRS"><img src="../assets/images/icons/Github-icon.svg" alt="Mon Github"></a>
                    <a href="https://www.linkedin.com/in/lola-navarro/" target="_blank" class="linksRS"><img src="../assets/images/icons/LinkedIn-icon.svg" alt="Mon LinkedIn"></a>
                    <a href="https://www.bento.me/lola" target="_blank" class="linksRS"><img src="../assets/images/icons/bentome-icon.svg" alt="Mon bento me"></a>
                </div>
                <div class="icon2">
                    <div class="secondary-button">
                        <a href="../assets/pdf/CV_Lola_NAVARRO.pdf" class="link-button" target="_blank">
                            <span class="button-text">Mon CV</span>
                            <span class="button-icon"><img src="../assets/images/icons/download-icon.svg"/></span>
                        </a>
                    </div>
                    <div class="secondary-button">
                        <a href="../assets/pdf/LolaNAVARROBK.pdf" class="link-button" target="_blank">
                            <span class="button-text">Mon Book</span>
                            <span class="button-icon"><img src="../assets/images/icons/livre-icon.svg" alt="Book"/></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="announcement-card contact-card">
                <div class="card-container">
                    <div class="card-header">
                        <div class="announcement-title">Annonce - Recherche d'Alternance</div>
                    </div>
                    <div class="announcement-description">
                        Je suis à la recherche d’une <span class="highlight">alternance</span> pour <span class="highlight">24 mois</span> aux alentours de <span class="highlight">Nantes</span>.
                        D’un rythme de <span class="highlight">6 semaines</span> en entreprise et <span class="highlight">3 semaines</span> à l’école
                    </div>
                    <div class="domain-info">
                        <span class="domain-label">Domaine :</span> UX/UI Design, UX design, DesignOps, Design de service
                    </div>
                </div>
            </div>
    </main>
    </section>
    <footer class="footer contact-footer">
        <div class="footer-container footer-container-ft">
    <img class="footer-blur-2" src="../assets/images/backgrounds/footer-contact.svg" alt>
          
            <div class="footer-content contact-ft">
            <!-- CTA Section -->
            <section class="cta-section">
              <p class="copyright copyright-ft">Site créé avec ❤ par Lola Navarro 2025</p>
            </section>
          </div>
        </div>
      </footer>
    <script src="../assets/js/projects.js"></script>
    <script src="../assets/js/projectView.js"></script>
</body>
</html>