<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lola - Portfolio</title>

    <link rel="stylesheet" href="../assets/style.css">
    <link rel="icon" type="image/png" href="../assets/images/Logo.png">
</head>
<body>
    <section class="main-content">
    <header>
        <img src="../assets/images/logo.svg" alt>

        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="projects.html">Projets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2 class="contactme">Contact</h2>
        <div id="contact">
            <div>
                <h3>Mes réseaux</h3>
                <a href="https://github.com/Lola0810"><img src="../assets/images/github_green.svg" alt="Mon Github"></a>
                <a href="https://www.linkedin.com/in/lola-navarro/"><img src="../assets/images/linkedin_green.svg" alt="Mon LinkedIn"></a>
                <a href="mailto:lola.navarro@etudiant.univ-rennes.fr"><img src="../assets/images/mail.svg" alt="Mon email"></a>
            </div>
            <span id="ligne_verticale"></span>

            <!-- Designs -->
            <div>
                <h3>Mes cv</h3>
                <ul class="list-cv">
                    <li class="list-cv">
                        <p>Cv de communication : </p><a href="../assets/images/Lola_Navarro_Communication_CV.pdf" target="_blank">mon CV de communication</a>
                    </li>
                    <li class="list-cv">
                        <p>CV de Webdesign et de développement web : </p><a href="../assets/images/Lola_Navarro_WebDesign_CV.pdf" target="_blank">mon CV de webdesign</a>
                    </li>
                </ul>
                
                <a href="https://www.canva.com/design/DAF4v1audBw/pnIEMRp4sh6kSsLn5gXwcA/view?utm_content=DAF4v1audBw&utm_campaign=designshare&utm_medium=link&utm_source=editor">
                    <button id="bouton-design">MON BOOK</button>
                </a>
            </div>
        </div>
        <div class="propos">
            <img src="../assets/images/photo.JPG" alt>

            <div class="texte_desc">
                <h2>À propos</h2>

                <p>
                    Depuis mon plus jeune âge, je me suis passionnée pour le développement et l'art. J'ai toujours été passionnée par le développement web, c’est ce qui m'a poussé à apprendre de moi-même le HTML et le CSS. 
                    <br><br>
                    J'ai opté pour le parcours du lycée général en choisissant NSI (Informatique), Mathématiques et AMC (Anglais) comme spécialités. Grâce à cela, j'ai pu me familiariser le SQL, python et PHP mais j’ai également amélioré mes compétences en anglais (Niveau B2). En même temps, j'ai découvert comment utiliser Figma et Adobe XD.
                    <br><br>
                    Après avoir réussi mon bac général avec mention bien, j'ai décidé de poursuivre mes études en B.U.T. MMI (Métiers du multimédia et de l'Internet) à l'IUT de Lannion. Grâce à cette formation je me suis découverte une véritable passion pour la communication et le design.
                    <br><br>
                    En janvier 2023, j'ai découvert mon envie d'entreprendre et j'ai décidé de me lancer dans le programme Pépite France, ce qui m'a permis d'obtenir le statut d'étudiante-entrepreneure. 
                    <br><br>
                    
                    A voir plus dans 
                    <a href="../assets/images/Lola_Navarro_Communication_CV.pdf" target="_blank">mon CV de communication</a> et dans <a href="../assets/images/Lola_Navarro_WebDesign_CV.pdf">mon CV de webdesign</a>.
                </p>
            </div>
        </div>
    </main>
    </section>
    <footer>
        <span>Contact : lola.navarro@etudiant.univ-rennes.fr</span>

        <span>&copy; Lola Navarro 2024</span>
        
        <nav>
            <a id="lien_github" href="https://github.com/Lola0810"><img src="../assets/images/Github.svg" alt="Clique ici pour voir mon github"></a>
            <a id="len_linkedIn" href="https://www.linkedin.com/in/lola-navarro/"><img src="../assets/images/Linkedin.svg" alt="Clique ici pour voir mon linkedin"></a>            
        </nav>
    </footer>

    <script src="../assets/js/projects.js"></script>
    <script src="../assets/js/projectView.js"></script>
</body>
</html>