<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lola - Portfolio</title>

    <link rel="stylesheet" href="../assets/style.css">
    <link rel="icon" type="image/png" href="../assets/images/butterfly.svg">
</head>
<body>
    <section class="main-content">
    <header>
        <img src="assets/images/butterfly.svg" alt>
        
        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Décoration à droite -->
        <img class="ligne_vectorielle2" src="../src/img/ligne_vectorielle2.png" alt>

        <!----- Bloc pour les projets ----->
        
        <div class="projets">
            <!-- Titre h2 -->
            <h2>Mes projets</h2>

            <div class="filter-buttons">
                <button class="active" onclick="filterProjects('all')">Tous</button>
                <button onclick="filterProjects('web')">Web</button>
                <button onclick="filterProjects('affiches')">Affiches</button>
                <button onclick="filterProjects('UX-UI')">UX/UI Design</button>
            </div>

            <div class="container_cards projects"></div>
                
            <!-- Décoration à gauche -->
            
        </div>

        <div class="calltoproject">
            <span>Et pourquoi ne pas me contacter dès à présent ?</span>

            <a href="contact.html"><button>ME CONTACTER</button></a>
        </div>
    </main>
    </section>
    
    <footer>
        <span>Contact : lola.navarro@etudiant.univ-rennes.fr</span>

        <span>&copy; Lola Navarro 2024</span>
        
        <nav>
            <a id="lien_github" href="https://github.com/Lola0810"><img src="../assets/images/github.svg" alt="Clique ici pour voir mon github"></a>
            <a id="len_linkedIn" href="https://www.linkedin.com/in/lola-navarro/"><img src="../assets/images/linkedin.svg" alt="Clique ici pour voir mon linkedin"></a>            
        </nav>
    </footer>

    <script src="../assets/js/projects.js"></script>
    <script src="../assets/js/projectView.js"></script>
</body>
</html>