/* ------- Init ------- */
*, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--white) !important;
}
.main-content{
    min-height: 100vh;
}

/* Animations */
@keyframes bounce_vertically {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
    transform: translateY(-1.9em);
    }
    60% {
    transform: translateY(-0.9em);
    }
}
@keyframes rotate {
    from { transform: rotate(0) }
    to { transform: rotate(-360deg) }
}

/* Stylisation des différentes balises qui ne changera pratiquement pas */
h1 {
    font-size: 5rem;
    font-family: Satoshi_Black;
    max-width: 99%;
    line-height: 5rem;
    color: var(--main);
}
h2 {
    font-size: 2.563rem;
    color: var(--main);
    /* font-family: Satoshi_Black;
    font-size: 3.75rem; */
    font-family: Satoshi_bold;
}
h3 {
    font-size: 1.9rem;
    color: var(--main);
    font-family: Satoshi_Bold;
    font-weight: normal;
}
h4 {
    font-family: Satoshi_Medium;
    font-size: 1rem;
    color: var(--main);
    text-transform: uppercase;
    
}
p {
    font-family:  Satoshi_Regular;
    color: var(--text-color);
    font-size: 0.9rem;
}
button {
    background-color: var(--main);
    padding: 12px 18px;
    font-family: 'Satoshi_Black';
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
}
a {
    color: var(--main);
    font-family: Satoshi_Medium;
    font-size: 1.1rem;
}
/* ------- END Init ------- */


/* ------- Fonts ------- */
@font-face {
    src: url(fonts/Satoshi-Black.otf);
    font-family: Satoshi_Black;
}
@font-face {
    src: url(fonts/Satoshi-Bold.otf);
    font-family: Satoshi_Bold;
}
@font-face {
    src: url(fonts/Satoshi-Medium.otf);
    font-family: Satoshi_Medium;
}
@font-face {
    src: url(fonts/Satoshi-Regular.otf);
    font-family: Satoshi_Regular;
}

/* ------- END Fonts ------- */


/* ------- Couleurs ------- */
:root {
    --main: #FF66A2; 
    --secondary:#00DA7E;
    --white: #FDFAF8;
    --main-form: #FEB0CD;
    --text-color: #0D1F30;
}
/* ------- END Couleurs ------- */

/* ------- Header ------- */
header {
    height: 6.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > img {
    position: absolute;
}
header > *:nth-child(1) {
    top: 1.5em;
    left: 2.5em;
    width: 3.3em;
}

ul{
    list-style-type: none;
}

header > nav > ul {
    display: flex;

    list-style: none;
    font-family: Satoshi_Medium;    
}
header > nav > ul > li {
    font-size: 1.4em;
    margin: 0 1.5rem;
    text-transform: uppercase;
    position: relative;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--text-color);

    font-family: Satoshi_Medium;
    font-size: 1.4rem;
}

/* Animation passage souris sur <a> */
header > nav > ul > li > a:hover::before {
    width: 100%;
}
header > nav > ul > li > a::before {
    content: "";
    display: block;
    transition: width .4s ease;

    position: absolute;
    bottom: -0.2em;

    border-radius: 6.2em;
    width: 0;
    height: 0.2em;
    background-color: var(--main);
}

/* ------- END Header ------- */



/* HOME */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 20em;
    margin-top: 11em;
}
#description {
    width: 80vh;
}

#description>h2 {
    color: var(--text-color);
    font-family: Satoshi_Medium !important;
    font-size: 2.563rem !important;
    font-weight: normal;
    margin-left: -1vh;
    padding-bottom: 1vh;
}

#description>h2>span {
    font-family: Satoshi_Black;
    color: white;
    background-color: var(--main);
    margin-left: 2px;
    padding: 3px 15px;
    border-radius: 21px;
}

#description>p {
    font-family: 'Satoshi_Medium';
    color: var(--text-color);
    margin: 2vh auto;
    width: 83vh;
    font-size: 1.563rem;
}

#animatedText span {
    color: var(--main);
    position: relative;
    font-size: 5rem;
    font-family: Satoshi_Black;
    line-height: 5rem;
    color: var(--main);
    bottom: -1em;
    opacity: 0;
    animation: move-text 0.75s forwards;
}

@keyframes move-text {
    0% {
        bottom: -0.2em;
        opacity: 1;
    }
    50% {
        bottom: 0.2em;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}


@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
      filter: blur(4px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
  
#home span, #home h1, #home h2, #home h3, #home p {
    display: inline-block;
    opacity: 0;
    animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

#skills span, #skills h1, #skills h2, #skills h3, #skills p {
    display: inline-block;
    opacity: 0;
    animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#skills img, #skills li{
    opacity: 0;
    animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


#round {
    width: 15em;
    height: 15em;

    position: relative;
}
#round>* {
    position: absolute;
}
#round>:nth-child(2) {
    left: 10%;
}
#round>:nth-child(1) {
    left: -53%;
    top: -55%;
}
#round>:nth-child(3) {
    left: -38%;
    top: -41%;
    opacity: 1;

    animation: rotate 6s linear infinite;
}

.hidden {
    display: none;
}
  

/* Décorations vectorielles */
img#scroll {
    display: block;
    margin: 8em auto;
    animation: bounce_vertically 2s infinite;
}

img.ligne_vectorielle {
    position: absolute;
    top: 40%;
}

#butterfly_home {
    position: absolute;
    z-index: -100;
    width: auto;
    left: 0;
    top: -8vh;
}

/* END HOME */

/* DESCRIPTION ME */

#about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

#about-me>div {
    margin: 1vh;
}

.description-me {
    font-family: 'Satoshi_Regular';
    color: var(--text-color);
    font-size: 1.463rem;

    background-color: #FFF;
    border-radius: 22px;
    padding: 1.5%;
    width: 17%;
}


.description-me>span {
    color: var(--main);
    font-family: 'Satoshi_Bold';
}

.linksRS {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.linksRS>img {
    margin-bottom: 2px;
}

.group-components {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.general-infos {
    background-color: #FFF;
    border-radius: 22px;
    padding: 7%;
}

.general-infos>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4%;
}

.general-infos>div>h4 {
    font-size: 1.938rem;
    text-transform: none;
}

.general-infos>div:nth-child(1)>p {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.general-infos>div:nth-child(2)>img {
    width: 75%;
}


.quote {
    background-color: #FFF;
    border-radius: 22px;
    padding: 7%;
    margin-top: 7%;
}

.quote>span {
    font-family: 'Satoshi_Bold';
    color: var(--main);
    font-size: 1.563rem;
}

.quote>p {
    font-family: 'Satoshi_Regular';
    color: var(--text-color);
    font-size: 1.563rem;
    text-align: end;
    padding-top: 4%;
}

.carousel {
    font-family: 'Satoshi_Regular';
    color: var(--text-color);
    font-size: 1.563rem;

    background-color: #FFF;
    border-radius: 22px;
    padding: 1.5%;
    width: 20%;
}

.carousel>h2 {
    text-align: center;
}

.carousel-container {
    display: flex;
    align-items: center;
    margin-top: 16%;
    justify-content: space-between;
}

.carousel-item:not(.hidden) {
    display: flex;
    flex-direction: column;
    width: 17vh;
    align-items: center;
}

.carousel-item>h3 {
    margin-top: 21%;
    margin-bottom: 21%;
    text-align: center;
}

.carousel-item>ul {
    text-align: center;
    width: 26vh;
}

/* END DESCRIPTION */

/* SKILLS */
#skills {
    margin-top: 15em;
    margin-left: 19%;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
}
#skills > *:nth-child(odd) {
    width: 32%;
}
#skills > *:nth-child(even) {
    width: 24em;
    margin-left: 48%;
}

div#skills>div {
    margin-bottom: 4em;
}
#skills>div>img {
    margin-top: 2vh;
}

#skills>div>li {
    font-family: 'Satoshi_Regular';
    color: var(--text-color);
    font-size: 1.1rem;
}

.ligne_vectorielle2 {
    position: absolute;
    top: 100%;
}
/* END SKILLS */

/* CALL TO PROJECTS */
.calltoproject {
    display: flex;
    margin: 2% 0;
    margin-top: 4vh;
    flex-direction: column;
    align-items: center;
}

.calltoproject>span {
    font-family:  Satoshi_Medium;
    color: var(--main);
    font-size: 1.1rem;
    margin-bottom: 2vh;
}
/* END CALL TO PROJECT */





/******************** Page 2 - Projets ***********************/

/* Décorations */
img.ligne_vectorielle2 {
    position: absolute;
    bottom: 0vh;
    right: 0;
}

img.rectangle {
    position: absolute;
    width: 13%;
}

/* Boutons filtrés */
.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 17%;
    margin-bottom: 3%;
}

.filter-buttons button {
    background: none;
    border: 3px solid var(--main);
    color: var(--main);
    font-size: 15px;
    padding: 6px 18px;
    margin: 0px 6px;
}

.filter-buttons button.active {
    background: var(--main);
    color: var(--white);
}


/* Projets */
.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;

    padding: 0px 17%;
    margin-bottom: 3%;
}
.card {
    background-color: #FFF;
    box-shadow: 0px 4px 4px #FEB0CD;

    flex-basis: 30vh;

    /* margin: 0 0 3vh 0; */
    /* padding: 0 0 0vh 0; */
    border-radius: 0 0 9px 9px;
}
.image {
    display: flex;
    max-width: 100%;
    max-height: 18vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: content-box;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.overlay {
    position: absolute;
    /* top: 16%;
    left: 36%; */

    /* top: 23%;
    left: 24%; */

    top: 18%;
    left: 41%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card:hover .overlay {
    opacity: 1;
}

.card img {
    max-width: 100%;
    transition: filter 0.3s ease;
}
.card:hover .image  {
    filter: blur(2px); 
}

.description {
    padding: 14px 14px 26px 19px;
    border-radius: 0 0 9px 9px;
    transition: filter 0.3s ease; 
}


/* .flex_right {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}

.seemore {
    padding: 8px 9px;
    margin: 14px 4px;
    font-size: 11px;
} */

.card {
    position: relative; 
    transition: transform 0.3s ease; 
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index:0;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Details d'un projet */
.pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    top: 0;
    z-index: 99;
    overflow: auto;
}

.close {
    text-align: center;

    color: var(--main);
    border: 2px solid var(--main);
    border-radius: 100%;

    padding: 2px 22px;
    cursor: pointer;
    font-size: 4em;

    display: block;
    width: fit-content;
    margin: .8em auto;
}

.pop-up>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
}

.pop-up>div>.contenu_projet {
    width: 81vh;

    /*width: 90%;
    margin: auto;*/
}

.contenu_projet>h4 {
    margin-top: 2%;
}

.contenu_projet li {
    list-style-type: none;
    font-family: Satoshi_Regular;
    color: var(--text-color-);
    font-size: 0.9rem;
}

img.image_visuel {
    width: 56em;
    object-fit: contain;
}

.designs>div>.image_visuel {
    width: 25em;
}

ul.list-cv{
    list-style-type: none;
}

li.list-cv{
    display: flex;
    flex-direction: column;
}

.projets>h2, .designs>h2{
    font-size: 2.563rem;
    color: var(--main);
    font-family: Satoshi_Bold;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 4vh;
}





/******************** Page 3 - A propos ***********************/
#contact {
    background-color: #FFF;
    display: flex;
        
    width: fit-content;
    margin: 2em auto;

    border-radius: 4vh;
    box-shadow: 0px 0px 16px 1px #FEB0CD;
}

#contact p {
    font-size: 1.463rem;
    width: 89%;
}


.contactme{
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 3vh;
}


.left-infos {
    width: 50em;
}

.left-infos>p {
    padding-left: 3vh;
    padding-bottom: 3%;
}

.basic-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.basic-infos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
}

.basic-infos img {
    margin-right: 1vh;
}

.basic-infos p {
    font-family: Satoshi_Bold;
}


.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
    align-items: center;
}

.links>* {
    margin: 0 1%;
}

.link-button {
    border-radius: 37px;
    border: 3px solid var(--main);
    display: flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    position: relative; 
    overflow: hidden; 
    background-color: transparent; 
    transition: color 0.4s ease-out, background-color 0.4s ease-out;  
}

.link-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main); 
    transform: translateX(100%); 
    transition: transform 0.4s ease-out; 
    z-index: -1; 
}

.link-button:hover::before {
    transform: translateX(0); 
}

.link-button:hover {
    background-color: var(--main); 
}

.button-text {
    padding: 0px 2rem;
    font-size: 1.18rem;
    font-family: Satoshi_Black;
    color: var(--main); 
    z-index: 1; 
    transition: color 0.4s ease-out;
}

.link-button:hover .button-text {
    color: white; 
}

.button-icon {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    z-index: 1; 
}

.button-icon>img {
    width: 1.5rem;
}

.links>a img {
    transition: transform 0.3s ease-in-out;
}

.links>a:hover img {
    transform: scale(1.1);  
}

/* ------- Footer ------- */
footer {
    height: 6vh;
    background-color: var(--main);
    color: var(--white) !important;
    display: flex;
    font-family: Satoshi_Medium;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

footer>:nth-child(2) {
    margin-left: -18%;
}

nav>a {
    padding: 0 7px;
}
/* ------- END Footer ------- */

/* RESPONSIVE RULES */
@media screen and (max-width: 1530px) {
    #home {
        gap: 10em;
    }
}

@media screen and (max-width: 1426px) {
    #about-me {
        flex-direction: column;
        margin: 0 0vh;
        .description-me {
            width: unset;
            margin: 2vh;
        }

        .linksRS {
            flex-direction: row;
        }

        .group-components {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 1vh;

            .general-infos {
                padding: 1.5%;
            }

            .quote {
                padding: 3.5%;
                margin-top: 0;
            }
        }

        .carousel {
            width: unset;
            margin: 2vh;

            .carousel-container {
                margin-top: 2vh !important;
                justify-content: space-around;
            }
        }
     }
     #home {
        flex-direction: column;

        #description {
            width: 80% !important;

            & p {
                width: unset;
            }
        }
     }

     #scroll {
        margin-top: 11em !important;
     }
     
}

@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 1240px) {
 .left-infos {
    width: 31em;
    margin: auto;
    padding: 0 2em;

    & .links {
        gap: 1em;
        padding-bottom: 1em;
    }
 }

 
}

/* @media screen and (max-width: 1384px) {
    .image_visuel {
       
    }
    
} */

@media screen and (max-width: 990px) {
    .pop-up>div>.contenu_projet {
        width: 70%;
        margin-bottom: 7vh !important;
    }
    #contact {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        & .left-infos {
            width: unset;
            text-align: center;
        }
    }
}