<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lola - Portfolio</title>

    <link rel="stylesheet" href="../../style/project.css">
    <link rel="stylesheet" href="../../style/common.css">
    <link rel="icon" type="image/png" href="../../assets/images/icons/butterfly.svg">
    <script>
      const copyEmail = () => {
          const emailText = document.getElementById("emailText").textContent;
          navigator.clipboard.writeText(emailText).then(() => {
          }).catch(err => {
          console.error("Failed to copy email: ", err);
          });
      }
      </script>
</head>
<body>
  <section class="main-content">
    <header>
      <img src="../../assets/images/icons/butterfly.svg" alt>

      <nav>
          <ul>
              <li><a href="../../index.html">Accueil</a></li>
              <li><a href="../projects.html">Projets</a></li>
              <li><a href="../contact.html">Contact</a></li>
          </ul>
      </nav>
    </header>
    <main class="container">
        <div class="project-header">
          <a href="../projects.html"><button>RETOUR</button></a>

          <h1 class="project-title">Brique House, promotion de produits</h1>
          <p class="subtitle">Projet Universitaire | Anglais - Décembre 2023</p>
        </div>
    
        <nav class="category-buttons">
          <div class="category-button">Design graphique</div>
          <div class="category-button">Communication</div>
          <div class="category-button">Anglais</div>
        </nav>
    
        <div class="project-showcase">
          <img src="../../assets/images/projects/briquehouse/banner.png" class="project-image">
        </div>

        <section class="sub-container">
          <section class="context-section">
            <h2 class="context-heading">Contexte</h2>
            <p class="context-text">
              Dans le cadre d’un projet d’anglais, nous devions concevoir une affiche. Étant trois dans l’équipe, nous avons décidé de réaliser deux affiches mettant en avant deux promotions différentes. Chaque affiche devait inclure un nuage de mots et un texte explicatif rédigé entièrement en anglais. <br/>
              Nous avons choisi comme cible les jeunes Japonais, d’une part parce qu’ils apprécient les produits français, et d’autre part en raison des couleurs vives et du goût audacieux des bières Brique House, susceptibles de séduire les plus aventuriers d’entre eux. <br/>
              La première affiche, "Under Acid", met en avant la canette du même nom en jouant sur la thématique des fruits rouges, tant visuellement que textuellement. La seconde, "Seijin Shiki Pack", s’inspire du festival japonais de la majorité, le Seijin Shiki, afin d’inciter les jeunes adultes à célébrer cet événement avec Brique House et profiter pleinement de leur jeunesse.
            </p>
          </section>
  
          <section class="mission-section">
            <div class="mission-container">
              <article class="mission-content">
                <div class="mission-text-container">
                  <h2 class="context-heading">Idéation</h2>
                  <ul class="mission-list">
                    <li><span class="highlight">Analyse du sujet et des marques</span> <br/>
                       Choix d'une marque qui nous correspond par sa vivacité et ses visuels très street art</li>
                    <li><span class="highlight">Recherches graphiques</span> <br/>
                      Benchmark d'autres affiches dans le thème ou des visuels de la marque</li>
                      <li><span class="highlight">Création d'un concept visuel et d'un storytelling</span> <br/>
                        Formulation de la proposition et représentation systémique sur le fonctionnement du projet</li>
                      

          
                  </ul>
                </div>
              </article>
              <figure class="mission-image-wrapper">
                <img
                  src="../../assets/images/projects/briquehouse/illu1.png"
                  alt="Mission project visual"
                  class="mission-image"
                />
              </figure>
            </div>
          </section>

          <section class="mission-section">
            <div class="mission-container">
              <figure class="mission-image-wrapper">
                <img
                  src="../../assets/images/projects/briquehouse/illu2.png"
                  alt="Mission project visual"
                  class="mission-image"
                />
              </figure>

              <article class="mission-content">
                <div class="mission-text-container">
                  <h2 class="context-heading">Conception graphique</h2>
                  <ul class="mission-list">
                    <li><span class="highlight">Création des affiches</span> <br/>
                    Choix de couleurs par affiche, thème et produit à promouvoir</li>
                    <li><span class="highlight">Rédaction du pitch</span> <br/>
                    Pitch explicatif entièrement en anglais pour expliquer la démarche et les choix graphiques</li>
                    <li><span class="highlight">Oral de restitution</span> <br/>
                     Présentation des affiches devant un client fictif dans le but de le convaincre</li>
          
                  </ul>
                </div>
              </article>
            </div>
          </section>

          <section class="competences-container">
            <img src="../../assets//images/icons/butterflyIcon.svg" alt="Butterfly icon" class="butterfly-icon">
            <h2 class="competences-title">Compétences mobilisées</h2>
          
            <div class="skills-container">
              <span class="skill-pill">Anglais</span>
              <span class="skill-pill">Graphisme</span>
              <span class="skill-pill">Storytelling</span>
            </div>
          
            <div class="tools-container">
              <img class="tool-icon" src="../../assets/images/icons/Ai.svg"/>
              <img class="tool-icon" src="../../assets/images/icons/ps.svg"/>
              <img class="tool-icon" src="../../assets/images/icons/affinity.png"/>
            </div>
          
            <p class="competences-description">
              Ce projet m’a permis de développer mes compétences en communication visuelle et en anglais, tout en apprenant à adapter une stratégie marketing à une cible spécifique. <br/>
              En travaillant sur ces affiches, j’ai mieux compris l’importance du choix des couleurs, des visuels et du message pour attirer l’attention d’un public étranger. J’ai également renforcé ma capacité à travailler en équipe et à structurer une campagne promotionnelle autour de concepts culturels propres à notre audience.
            </p>
          </section>

          <section class="note-container">
            <div class="content-wrapper">
              <div class="image-column">
                <img
                  src="../../assets/images/projects/briquehouse/illu3.png"
                  alt="Feature image"
                  class="feature-image"
                />
              </div>
              <div class="text-column">
                <div class="text-content">
                  <span class="context-heading">Résultat</span>
                  <p class="note-description">
                    Ce projet a été affiché sur les écrans de présentation des projets MMI lors des Journées Portes Ouvertes de mon IUT.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </section>
    </main>
  </section>




  <footer class="footer">
    <div class="footer-container">
      <div class="footer-content">
        <!-- Contact Section -->
        <section class="contact-section">
            <p class="quick-response">Et en plus je réponds vite !</p>
            <a id="emailText" class="email-container" onclick="copyEmail()">
              <span class="email-text">contact@lolanavarro.fr</span>
              <img
                src="../../assets/images/icons/copy-white.svg"
                alt="Email icon"
                class="email-icon"
              />
            </a>
            <div class="friendly-message">
              <img
                src="../../assets/images/icons/arrow.svg"
                alt="Message icon"
                class="message-icon"
              />
              <p class="message-text">Aller je ne mords peut-être pas ;)</p>
            </div>
          </section>

          <!-- CTA Section -->
          <section class="cta-section">
            <h2 class="cta-question">Je vous ai convaincu ?</h2>
            <p class="cta-action">C'est parti !</p>
            <div class="social-icons">
              <a href="#" aria-label="Social media link">
                <img
                  src="../../assets/images/icons/cv_footer_button.svg"
                  alt="Social media icon"
                  class="social-icon"
                />
              </a>
              <a href="#" aria-label="Social media link">
                <img
                  src="../../assets/images/icons/book_footer_button.svg"
                  alt="Social media icon"
                  class="social-icon"
                />
              </a>
              <a href="#" aria-label="Social media link">
                <img
                  src="../../assets/images/icons/linkedin_footer_button.svg"
                  alt="Social media icon"
                  class="social-icon"
                />
              </a>
              <a href="#" aria-label="Social media link">
                  <img
                    src="../../assets/images/icons/github_footer_button.svg"
                    alt="Social media icon"
                    class="social-icon"
                  />
              </a>
              <a href="#" aria-label="Social media link">
                  <img
                      src="../../assets/images/icons/bento_footer_button.svg"
                      alt="Social media icon"
                      class="social-icon"
                  />
              </a>
            </div>
            <p class="copyright">Site créé avec ❤ par Lola Navarro 2025</p>
          </section>

          <!-- Navigation Section -->
          <nav class="nav-section">
            <h2 class="nav-title">Navigation</h2>
            <div class="nav-links">
              <a href="../index.html" style="color: inherit; text-decoration: none"
                >Accueil</a
              ><br />
              <a href="#" style="color: inherit; text-decoration: none"
                >Projets</a
              ><br />
              <a href="./contact.html" style="color: inherit; text-decoration: none"
                >Contact</a
              >
            </div>
          </nav>
      </div>
    </div>
</footer>
</body>
</html>